body {
    font-family: 'Sans Serif JP', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("/assets/media/image/kv_album_pc (1).webp");
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, );
    background-attachment: fixed;
    
}

body::-webkit-scrollbar {
    display: none; 
}

html {
    scrollbar-width: none; 
}

header {
    color: black;
    text-align: center;
    font-size: 115%;
}

main {
    border: 1px rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    padding: 0.3%;
    padding-top: 5%;
    max-width: 340pt;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

a {
    color: rgb(34, 176, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



button {
  /* Hilangkan warna default browser */
  background-color: transparent;
  
  /* Styling utama */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(25, 25, 25, 0.8);              /* Warna teks */
  border: 2px solid #000000;   /* Warna garis tepi */
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;          /* Membuat sudut agak bulat */
  cursor: pointer;
  padding: 0px;
  width: 65%;
  height: 35px;
  margin: 5px;
  
  /* Transisi agar halus saat di-hover */
  transition: all 0.3s ease;
}

/* Efek saat kursor diarahkan ke button */
button:hover {
  background-color: rgba(25, 25, 25, 0.8);   /* Background muncul */
  color: white;                /* Teks berubah jadi putih */
}

/* Efek saat button diklik */
button:active {
  transform: scale(0.95);      /* Memberikan efek menekan */
}

hr {
    border-top: 3px solid rgba(0, 0, 0, 0.75);
    width: 95%;
    margin: 20px auto;
}

center {
    text-align: center;
}

.Social-Accounts {
    text-align: center;
    padding: 5%;
}

.Profile-photo {
    border-radius: 100%; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-height: auto;
    max-width: 35%;
}

.about {
    padding-left: 10%;
    padding-right: 10%;
}

.credit {
    padding-left: 10%;
    padding-right: 10%;
}

.a-nohighlight {
    color: black;
    text-decoration: none;
}

.a-nohighlight:hover {
    text-decoration: none;
}